{% extends 'frontend/default/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            {% for post in posts %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ path('post', {'slug': post.slug}) }}">{{ post.title }}</a>
                    </div>
                    <div class="panel-body">
                        {{ post.body }}
                        <hr>
                        {{ post.createdAt | date('Y-m-d H:i:s')  }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
