{% extends 'frontend/default/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h4>
                {{ post.title }}
            </h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ post.body }}
                </div>
            </div>
            <div class="text-right">
                by <strong>{{ post.user.name }}</strong> at {{ post.createdAt | date('Y-m-d H:i:s') }}
            </div>
        </div>
    </div>
{% endblock %}